<%= simple_form_for(@semester, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :term %>
    <%= f.input :year %>

    <% [:start_date, :end_date, :advisement_start, :advisement_end].each do |d| %>
      <%= f.input d, as: :string, input_html: { data: { behavior: 'datepicker' } } %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
