<h2>Listing semesters</h2>

<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Term</th>
    <th>Year</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Advisement start</th>
    <th>Advisement end</th>
    <th>Midterm</th>
    <th></th>
    <th></th>
  </tr>

<% @semesters.each do |semester| %>
  <tr>
    <td><%= link_to semester.name, semester %></td>
    <td><%= semester.term.name %></td>
    <td><%= semester.year %></td>
    <td><%= format_date(semester.start_date) %></td>
    <td><%= format_date(semester.end_date) %></td>
    <td><%= format_date(semester.advisement_start) %></td>
    <td><%= format_date(semester.advisement_end) %></td>
    <td><%= format_date(semester.midterm) %></td>
    <td><%= link_to 'Edit', edit_semester_path(semester) %></td>
    <td><%= link_to 'Destroy', semester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Semester', new_semester_path %>

<%= will_paginate @semesters %>
