<%= simple_form_for([@job, @poster], html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <% if current_user.student %>
    <p class="text-center">Poster Services are available for a limited time to students close to high-volume events such as TechFest and the Student Symposium.<br>At other times, all posters must be ordered through the MOSH System by a faculty member.</p>
    <br><br>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Title' %>
    <%= f.input :length, placeholder: 'shorter side, in inches', hint: 'Note: Shorter side must be less than 40 inches. Both length and width must be at least 20 inches.' %>
    <%= f.input :width, placeholder: 'in inches' %>
    <%= f.input :special_request %>
    <%= f.input :mounting, hint: 'Check this box if you are interested in having your poster mounted to a foam board. Poster mounting services are available as a fund raiser for the Student ACM Chapter, and may cost up to $10.' if mounting_is_enabled %>
    <div class="control-group <%= style_for_errors(@poster) if @poster.errors.messages[:attachment] %>">
      <label class="control-label" for="poster_attachment">Poster PDF</label>
      <div class="controls">
        <%= f.file_field :attachment %>
        <span class="help-inline"><%= show_attachment_errors(@poster) %></span>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Upload Poster to Job', class: "btn btn-primary" %>
  </div>
<% end %>
