<%= simple_form_for([@job, @poster], html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Title' %>
    <%= f.input :length %>
    <%= f.input :width %>
    <%= f.input :special_request %>
    <%= f.file_field :attachment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
