<h1>Listing posters</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Job</th>
    <th>User</th>
    <th>Title</th>
    <th>Length</th>
    <th>Width</th>
    <th>Special request</th>
    <th>Poster status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @posters.each do |poster| %>
    <tr>
      <td><%= link_to "Job #{poster.job_id}", poster.job %></td>
      <td><%= poster.job.user.email if poster.job %></td>
      <td><%= link_to poster.name, poster %></td>
      <td><%= poster.length %></td>
      <td><%= poster.width %></td>
      <td><%= poster.special_request %></td>
      <td><%= poster.poster_status.name if poster.poster_status %></td>
      <td><%= link_to 'Attachment url', poster.attachment.url %></td>
      <td><%= link_to 'Edit', edit_poster_path(poster) %></td>
      <td><%= link_to 'Destroy', poster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
