<%= render 'shared/progress', page: 'poster' %>

<h2>Poster Details</h2>

<% if !current_user.management %>
  <div class="row" id="poster_directions">
    <h5>Please review your poster specs. Press Edit to make changes, or Save once you are ready to submit.</h5>
  </div>
<% end %>

<div class="row">
  <div class="span8" id="preview_doc">
    <iframe src="<%= google_docs_url(@poster.attachment.url)%>" frameBorder="2">Your Document</iframe>   
  </div>

  <div class="span4">
    <table class="table table-bordered">
      <tr>
        <th>Job:</th>
        <td><%= link_to @poster.job_id, @poster.job %></td>
      </tr>
      <tr>
        <th>User:</th>
        <td><%= @poster.job.user.email if @poster.job %></td>
      </tr>
      <tr>
        <th>Title:</th>
        <td><%= @poster.name %></td>
      </tr>
      <tr>
        <th>Length:</th>
        <td><%= @poster.length %></td>
      </tr>
      <tr>
        <th>Width:</th>
        <td><%= @poster.width %></td>
      </tr>
      <tr>
        <th>Special request:</th>
        <td><%= @poster.special_request %></td>
      </tr>
      <tr>
        <th>Poster status:</th>
        <td><%= show_status(@poster.poster_status.name) %></td>
      </tr>
      <tr>
        <th>Attachment url:</th>
        <td><%=link_to 'Attachment url', @poster.attachment.url %></td>
      </tr>
    </table>
  </div>

  <div class="span4">
    <% if current_user.management %>
      <% if @poster.poster_status.name == "Pending" %>
        <%= link_to 'Finish Poster', poster_finish_path(@poster), method: :put, class: 'btn btn-medium btn-success' %>
        <%= link_to 'Deny Poster', poster_deny_path(@poster), method: :put, class: 'btn btn-medium btn-danger' %>
      <% else %>
        <%= link_to 'Pend Poster', poster_pend_path(@poster), method: :put, class: 'btn btn-medium btn-inverse' %>
      <% end %>
    <% else %>  
      <%= link_to('Edit', edit_poster_path(@poster), :class => 'btn btn-medium btn-warning') %>
      <%= link_to('Save', @poster.job, :class => 'btn btn-medium btn-success') %>
    <% end %>
  </div>
</div>
