<h1>Listing hours</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Location</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hours.each do |hour| %>
  <tr>
    <td><%= link_to hour.location.name, hour.location %>
    <td><%= hour.monday %></td>
    <td><%= hour.tuesday %></td>
    <td><%= hour.wednesday %></td>
    <td><%= hour.thursday %></td>
    <td><%= hour.friday %></td>
    <td><%= hour.saturday %></td>
    <td><%= hour.sunday %></td>
    <td><%= link_to 'Show', hour %></td>
    <td><%= link_to 'Edit', edit_hour_path(hour) %></td>
    <td><%= link_to 'Destroy', hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hour', new_hour_path %>
