<h1>Listing workstation_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workstation_types.each do |workstation_type| %>
  <tr>
    <td><%= workstation_type.name %></td>
    <td><%= link_to 'Show', workstation_type %></td>
    <td><%= link_to 'Edit', edit_workstation_type_path(workstation_type) %></td>
    <td><%= link_to 'Destroy', workstation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workstation type', new_workstation_type_path %>
