<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-bordered table-striped">
  <tr>
    <!-- <th>Job ID</th> -->
    <th><%= sortable "id", "Job ID" %></th>
    <!-- <th>User</th> -->
    <th>User</th>
    <!-- <th>Created at</th> -->
    <th><%= sortable "created_at", "Created at" %></th>
    <!-- <th>Due date</th> -->
    <th><%= sortable "due_date", "Due Date" %></th>
    <th># Posters</th>
    <th>Status</th>
    <th>Finalized?</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

  <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to job.id, job %></td>
      <td><%= job.user.email if job.user %></td>
      <td><%= format_date(job.created_at) %></td>
      <td><%= format_date(job.due_date) if job.due_date %></td>
      <td><%= job.posters.count %></td>
      <td><%= show_status(job.job_status.name) %></td>
      <td><%= get_finalized(job.finalize) %></td>
      <td>
        <%= link_to edit_job_path(job) do %>
          <i class="fa fa-edit"></i>
        <% end %>
      </td>
      <td>
        <%= link_to job, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @jobs %>
