<h2>View Poster Jobs</h2>
<div class="row">
  <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Job</a>
    <ul class="nav">
      <% if @isManagement %>
        <li>
          <!-- <div class="span1"> -->
            <%= form_tag(jobs_path, method: 'get', id: "jobs_search", class: "navbar-search pull-left") do %>
              <%= text_field_tag :search, params[:search], :class => "search-query"%>
          <!-- </div> -->
        </li>
        <li>
          <!-- <div class="span1"> -->
              <%= submit_tag "Search", name: nil, class: 'btn btn-block btn-medium btn-info'%>
            <% end %>
          <!-- </div> -->
        </li>
      <% end %>
      <li>
        <%= form_tag(jobs_path, method: 'get', class: 'navbar-form form-inline', id: 'status_form') do %>
          <%= select_tag('job_status', options_from_collection_for_select(@job_statuses, :id, :name), :prompt => "Filter by Status", :onchange => "this.form.submit();")%>
          <% end %>
      </li>
      <li>
        <div class="pull-left">
          <%= form_tag(jobs_path, method: 'get', class: 'navbar-form form-inline', id: 'status_form') do %>
            <%= select_tag :per_page, options_for_select([5,10,20,25,50], params[:per_page].to_i),  :prompt => "Items Per Page",
       :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
          <%end %>
        </div>
      </li>
      <li >
        <div class="pull-left">
          <%= link_to new_job_path, class: "btn btn-block btn-medium btn-success" do %>
            <i class="fa fa-plus"></i> Create a New Job
          <% end %>
        </div>
      </li>
    </ul>
  </div>
  </div>
  <!-- <h5><%= @job_status.name if @job_status %> Jobs:</h5> -->
</div>

<div class="row">
  <div id='jobs'>
    <%= render :partial => 'jobs'%>
  </div>
</div>
