<% if user_signed_in? %>

  <div id="container" style="height:530px">

    <!- Left ->
    <div id="Column1" class="column">
      <div class="sections">
        <div class="title-box">
          Welcome!
        </div>
        <div class="comment-box">
          <p>MOSH is the McCarthy Online Support Hub.</p>
          <p>The <%= link_to 'Poster', new_job_path %> module is up!</p>
          <p>In the coming weeks, MOSH will have 5 Modules:</p>
          <p>
          <ul>
            <li>Lab Module: An overview of CS/IT department computer labs, including lab hours, typical hardware setups, installed software, inventory, and after hours accesses.</li>
            <li>Poster Module: A poster ordering system for College of Science and Technology faculty and staff.</li>
            <li>Work Order Module: A tool for tracking interdepartmental work orders.</li>
            <li>Supply Module: A tool for tracking ink and toner inventory.</li>
            <li>Advisement Module: A module that facilitates advisement for IT majors.</li>
          </ul>
          </p>
          <p>Have a great day!</p>
        </div>
      </div>
    </div>

    <!- Right ->
    <div id="Column2" class="column">

      <div class="sections">
        <div class="title-box">
          Important Dates
        </div>
        <div class="comment-box">
          No Deadlines
        </div>
      </div>

      <div class="sections">
        <div class="title-box">
          Need Help?
        </div>
        <div class="comment-box">
          <ul>
            <li><%= link_to 'Poster Guidelines', '#' %></li>
            <li>Email Mosh Admin: <%= mail_to 'mosh.system@gmail.com', 'mosh.system@gmail.com' %></li>
          </ul>
        </div>
      </div>
    </div>

  <% else %>

    <div class="center hero-unit">
      <div id="headline" class="row">
        <div id="welcome" class="span6">
          <h1>Welcome to</h1>
        </div>
        <div class="span4">
          <%= link_to image_tag("mosh-cropped.png", alt: "MOSH") %>
        </div>
      </div>

      <h2>MOSH is the McCarthy Online Support Hub</h2>
      <%= link_to "Sign in now!", new_user_session_path,
        class: "btn btn-large btn-primary" %>
    </div>

    <p><%= link_to "Click HERE", new_user_password_path, class: "btn btn-medium btn-primary" %> to reset your password</p>
  <% end %>
