<% if user_signed_in? %>

  <div id="container" style="height:530px">

    <!- Left ->
    <div id="Column1" class="column">
      <div class="sections">
        <div class="title-box">
          Welcome!
        </div>
        <div class="comment-box">

        </div>
      </div>
    </div>

    <!- Right ->
    <div id="Column2" class="column">

      <div class="sections">
        <div class="title-box">
          Important Dates
        </div>
        <div class="comment-box">
          No Deadlines
        </div>
      </div>

      <div class="sections">
        <div class="title-box">
          Need Help?
        </div>
        <div class="comment-box">
          <ul>
            <li><%= link_to 'Poster Guidelines', '#' %></li>
            <li><%= mail_to 'mosh.system@gmail.com', 'Email Mosh Admim' %></li>
          </ul>
        </div>
      </div>
    </div>

  <% else %>

    <div class="center hero-unit">
      <div id="headline" class="row">
        <div id="welcome" class="span6">
          <h1>Welcome to</h1>
        </div>
        <div class="span4">
          <%= link_to image_tag("mosh-cropped.png", alt: "MOSH") %>
        </div>
      </div>

      <h2>MOSH is the McCarthy Online Support Hub</h2>
      <%= link_to "Sign in now!", new_user_session_path,
        class: "btn btn-large btn-primary" %>
      <%= link_to "Student Sign-up", new_user_registration_path,
        class: "btn btn-large btn-primary" %>
    </div>

  <% end %>
