<%= simple_form_for(@setting, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :set %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.submit 'Submit Setting', class: 'btn btn-primary' %>
  </div>
<% end %>
