<h1>Listing settings</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Set</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

<% @settings.each do |setting| %>
  <tr>
    <td><%= link_to setting.name, setting %></td>
    <td><%= get_check(setting.set) %></td>
    <td><%= setting.description %></td>
    <td>
      <%= link_to edit_setting_path(setting) do %>
        <i class="fa fa-edit"></i>
      <% end %>
      </td>
      <td>
        <%= link_to setting, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o"></i>
        <% end %>
      </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Setting', new_setting_path %>
