<%= simple_form_for([@location, @workstation], html: { class: 'form-horizontal' }) do |f| %>

      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :number, label: 'Workstation number' %>
        <%= f.association :workstation_type %>
        <%= f.hidden_field :location_id, value: params[:location_id] %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>

<% end %>
