<h1>Listing workstations</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Workstation name</th>
    <th>Workstation type</th>
    <th>Location</th>
    <th></th>
    <th></th>
  </tr>

<% @workstations.each do |workstation| %>
  <tr>
    <td><%= link_to workstation.name, workstation %></td>
    <td><%= workstation.workstation_type.name %></td>
    <td><%= link_to workstation.location.name, workstation.location if workstation.location %></td>
    <td><%= link_to 'Edit', edit_workstation_path(workstation) %></td>
    <td><%= link_to 'Destroy', workstation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @workstations %>
