<h1><%= @workstation.name %> Details</h1>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span6 offset3">
    <table class="table table-bordered">
      <tr>
        <th>Workstation name:</th>
        <td><%= @workstation.name %></td>
      </tr>
      <tr>
        <th>Workstation number:</th>
        <td><%= @workstation.number %></td>
      </tr>
      <tr>
        <th>Workstation type:</th>
        <td><%= @workstation.workstation_type.name %></td>
      </tr>
      <tr>
        <th>Location:</th>
        <td><%= link_to @workstation.location.name, @workstation.location if @workstation.location %></td>
      </tr>
    </table>

    <%= link_to new_workstation_hardware_path(@workstation) do %>
      <i class="fa fa-plus"></i> Add Hardware to Workstation
    <% end %><br>
      <%= link_to 'Edit', edit_workstation_path(@workstation) %> |
      <%= link_to 'Back', workstations_path %>
  </div>
</div>
