<h1>Listing hardware_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hardware_types.each do |hardware_type| %>
  <tr>
    <td><%= hardware_type.name %></td>
    <td><%= link_to 'Show', hardware_type %></td>
    <td><%= link_to 'Edit', edit_hardware_type_path(hardware_type) %></td>
    <td><%= link_to 'Destroy', hardware_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hardware type', new_hardware_type_path %>
