<div class="accordion" id="accordion2">
  <% @location.workstations.each.with_index do |workstation,i| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= i %>">
          <%= p "#{workstation.name}" %>
        </a>
      </div>
      <div id="collapse<%= i %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <ul>
            <% workstation.hardwares.each do |hardware| %>
              <li><%= link_to hardware.name, hardware %></li>
        <% end%>
        <li><%= link_to 'Add Hardware to Workstation', new_workstation_hardware_path(workstation) %></li>
        <li><%= link_to 'Edit Workstation', edit_workstation_path(workstation) %></li>
        <ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to 'Add Workstation to Location', new_location_workstation_path(@location) %>
