<div class="row">
  <h2>Inventory</h2>
  <div class="row">
    <%= form_tag(inventory_index_path, method: 'get', class: 'form-inline') do %>
      <div class="span4">
        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-medium btn-info">Location</button>
          <button type="button" class="btn btn-medium btn-info">Status</button>
          <button type="button" class="btn btn-medium btn-info">Type</button>
        </div>
      </div>
      <input name="search_type" type="hidden" id="search_type"/>
      <div class="span4 offset4">
        <%= select_tag('select', nil) %>
        <%= submit_tag('Search', class: 'btn btn-medium btn-info') %>
      </div>
    <% end %>
  </div>
  <% if @location %>
    <%= render 'locations' %>
  <% end %>

  <% if @hardware_status %>
    <%= render 'status' %>
  <% end %>


  <% if @hardware_type %>
    <%= render 'types' %>
  <% end %>
</div>
