<h2>Work Order Details</h2>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span6 offset3">
    <table class="table table-bordered">
      <tr>
        <th>Identifier:</th>
        <td><%= @work_order.name %></td>
      </tr>
      <tr>
        <th>Order status:</th>
        <td><%= show_status(@work_order.order_status.name) %></td>
      </tr>
      <tr>
        <th>Comment:</th>
        <td><%= @work_order.comment %></td>
      </tr>
      <tr>
        <th>Requested by:</th>
        <td><%= @work_order.user.name %></td>
      </tr>
      <tr>
        <th>Request date:</th>
        <td><%= @work_order.created_at.to_date %></td>
      </tr>
      <tr>
        <th>Closed date:</th>
        <td><%= @work_order.closed_date.to_date %></td>
      </tr>
      <tr>
        <th>Assigned to:</th>
        <td><%= @work_order.assignee %></td>
      </tr>
      <tr>
        <th>Plant Ops/IT Services Number:</th>
        <td><%= @work_order.other_number %></td>
      </tr>
    </table>

    <%= link_to 'Edit', edit_work_order_path(@work_order) %> |
    <%= link_to 'Back', work_orders_path %>
  </div>
</div>
