<%= simple_form_for([:admin, @user], html: { class: 'form-horizontal' } ) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: 'Full name' %>
    <%= f.input :email, placeholder: 'you@armstrong.edu' %>
    <%= f.input :password, placeholder: 'at least 8 characters, please' %>
    <%= f.input :password_confirmation %>
    <%= f.input :management %>
    <%= f.input :admin %>
    <%= f.input :faculty %>
    <%= f.input :noncsit, label: 'Non-CS/IT Faculty or Staff' %>
    <%= f.input :student %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
