<%= simple_form_for(@hardware) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :serial_number %>
    <%= f.input :aasu_number %>
    <%= f.input :manufacturer %>
    <%= f.input :model_number %>
    <%= f.input :assigned_to %>
    <%= f.input :specs %>
    <%= f.input :hardware_type_id %>
    <%= f.input :hardware_status_id %>
    <%= f.input :hardware_status_comment %>
    <%= f.input :workstation_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
