<h1>Listing hardwares</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Serial number</th>
    <th>Aasu number</th>
    <th>Assigned to</th>
    <th>Specs</th>
    <th>Year</th>
    <th>Hardware status</th>
    <th>Hardware status comment</th>
    <th>Workstation</th>
    <th></th>
    <th></th>
  </tr>

<% @hardwares.each do |hardware| %>
  <tr>
    <td><%= link_to hardware.name, hardware %></td>
    <td><%= hardware.serial_number %></td>
    <td><%= hardware.aasu_number %></td>
    <td><%= hardware.assigned_to %></td>
    <td><%= hardware.specs %></td>
    <td><%= hardware.year %></td>
    <td><%= show_status(hardware.hardware_status.name) %></td>
    <td><%= hardware.hardware_status_comment %></td>
    <td><%= link_to hardware.workstation.name, hardware.workstation if hardware.workstation %></td>
    <td><%= link_to 'Edit', edit_hardware_path(hardware) %></td>
    <td><%= link_to 'Destroy', hardware, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hardware', new_hardware_path %>

<%= will_paginate @hardwares %>
