<%= simple_form_for(@location, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, hint: "e.g. Science Center 1503B or Dr. Lau's Office." %>
    <%= f.input :room, placeholder: 'e.g. SC1503B' %>
    <%= f.input :comment %>
    <%= f.association :location_type %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
