<h1>Listing locations</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Location Name</th>
    <th>Room</th>
    <th>Comment</th>
    <th>Location type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locations.each do |location| %>
  <tr>
    <td><%= link_to location.name, location %></td>
    <td><%= location.room %></td>
    <td><%= location.comment %></td>
    <td><%= location.location_type.name %></td>
    <td><%= link_to 'View Workstations', location_workstations_path(location) %></td>
    <td><%= link_to 'Edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Location', new_location_path %>

