<h1><%= @location.name %> Details</h1>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span6 offset3">
    <table class="table table-bordered">
      <tr>
        <th>Location name:</th>
        <td><%= @location.name %></td>
      </tr>
      <tr>
        <th>Room:</th>
        <td><%= @location.room %></td>
      </tr>
      <tr>
        <th>Comment:</th>
        <td><%= @location.comment %></td>
      </tr>
      <tr>
        <th>Location type:</th>
        <td><%= @location.location_type.name %></td>
      </tr>
    </table>

    <%= link_to 'Edit', edit_location_path(@location) %> |
    <%= link_to 'Back', locations_path %>
  </div>
</div>
